*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 1.5vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #334155;
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}
nav h1{
    /* font-size: 1vw; */
    font-size: 1em;
}
.otr-link{
    display: flex;
    align-items: center;
}
.btn-pro{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #E4E4E7;
    padding: 6px 15px;
    border-radius: 12px;
}
.btn-pro i{
    font-size: 21.5px;
    color: #78879c;
}
.btn-pro p{
    font-size: 12.4px;
    font-weight: 800;
}
.btn-pro h3{
    font-size: 9.5px;
    background-color: #EF4444;
    color: #fff;
    padding: .2vw .5vw;
    border-radius: 20px;

}
.btn-down{
    border: none;
}
.btn-doc,.btn-icon{
    border: none;
}
.page-one{
    padding: 4.1vw 1vw 0 1vw;
    display: flex;
    align-items: center;
}
.page-one img{
    width: 50vw;
}
.text-section{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50%;
    /* background-color: #78879c; */
}
.text-section h2{
    font-size: 38.4px;
    opacity: .7;
    font-weight: 500;
}
.text-section p{
    font-size: 18.4px;
    line-height: 30.7px;
    opacity: .5;
}
.btns{
    margin: 1.45vw 0;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.btns button{
    font-size: 1vw;
    font-weight: 700;
    padding: .9vw;
    border-radius: 7px;
    border: none;
    color: #FFFFFF
}
.btns button:first-child{
    background-color: #EC4899;
}
.btns button:nth-child(2){
    background-color: #334155;
}
.brown{
    fill: #F1F5F9;
}
.page-two{
    background-color: #F1F5F9;
    position: relative;
}
.page-two >svg{
    width: 100%;
    margin-top: -230px;
}
.inner-part{
    display: flex;
    align-items: center;
}
.left-side{
    z-index: 1;
    margin-top: -100px;
    
    width: 50.4vw;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
}
.left-side img{
    border-radius: 10px 10px 0 0;
}
.left-side >svg{
    margin-top: -80px;
    margin-bottom: -5px;
}
.pink{
    fill: #DB2777;
}
.text-part{
    background-color: #DB2777;
    padding: 1.5vw 2vw 2vw 2vw;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
}
.text-part h2{
    font-family: "Open Sans", sans-serif;
    padding: 1vw 0;
    font-weight: 500;
    font-size: 23px;
}
.text-part p{
    line-height: 20px;
    font-size: 15.3px;
    font-weight: 300;
    /* text-align: center; */
    font-family: "Open Sans", sans-serif;
}
.right-side{
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 2vw;
    padding: 2vw;
}
.css-com{
    padding: 2vw;
}
.css-com i{
    background-color: #E4E4E7;
    font-size: 23px;
    padding: .8vw;
    border-radius: 50%;
    color: #64748B;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
}
.css-com h2{
    padding: 2vw 0 1vw 0;
    font-family: "Open Sans", sans-serif;
    color: #334155;
    font-weight: 500;
}
.css-com p{
    font-size: 15.36px;
    font-weight: 300;
    color: #334155;

}
.part-one{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw 7vw;
    gap: 6vw;
}
.left-part{
    display: flex;
    flex-direction: column;
    padding: 0 1vw 0vw 0;
    width: 40vw;
}
.icon i{
    background-color: #ffffff;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
    color: #64748B;
}
.left-part h2{
    padding: 2vw 0 1vw 0;
    font-size: 24.2px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #334155;

}
.left-part p{
    font-size: 16.8px;
    color: #334155;
    font-weight: 300;
    padding-right: 3vw;
    padding: 0 0vw 1vw 0;
    font-family: "Open Sans", sans-serif;

}

.part-of-css span{
    padding: 8.68px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: .75rem;
    line-height: 36.8px;
    font-weight: 800;
    color: #67717e;
    font-family: "Open Sans", sans-serif;
    margin-right: 1vw;
}
a{
    color: #334155;
    text-decoration: none;
    font-weight: 700;
    font-size: 15.4px;
    padding: 15.4px 0;
    display: inline-block;
}
.right-part{
    display: flex;
    flex-direction: column;
    width: 45vw;
    position: relative;
}

.right-part img{
    max-width: 210px;
}
.right-part img:nth-child(5){
    max-width: 576px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
    border-radius: 10px;
    position: relative;
    bottom: 55px;
    /* margin-top: -200px; */
}
.right-part img:nth-child(4){
    max-width: 199px;
    border-radius: 10px;
    position: relative;
    top: -108px;
}
.right-part img:nth-child(3){
    max-width: 176px;
    position: relative;
    bottom: 179px;
    left: 44px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
    border-radius: 10px;
}
.right-part img:nth-child(2){
    max-width: 215px;
    position: relative;
    bottom: -170px;
    left: 19vw;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
    border-radius: 10px;
}
.right-part img:nth-child(6){
    max-width: 122.8px;
    position: relative;
    bottom: 282px;
    left: 16vw;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
    border-radius: 10px;
}
.right-part img:first-child{
    max-width: 98px;
    position: relative;
    bottom: -333px;
    left: 179.7px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
    border-radius: 8px;
    z-index: 1;
}
.part-two{
    display: flex;
    /* background-color: #6e6e6e; */
    align-items: center;
    justify-content: space-between;
    padding-bottom: 230px;
}
.cards-part{
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #DB2777; */
}
.card{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
    text-align: center;
    padding: 4vw 2vw;
    color: #FFFFFF;
    border-radius: 10px;
}
.card img{
    width: 4vw;
    border-radius: 50%;
    margin-bottom: 1.2vw;
    
}
.card h2{
    font-family: "Open Sans", sans-serif;
    padding-bottom: 1vw;
}
.card p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;

}
.card-one{
    background-color: #0EA5E9;
    width: 20vw;
    position: relative;
    left: 140px;
}
.card-two{
    background-color: #F97316;
    width: 21vw;
    position: relative;
    left: 180px; 
    top: 60px;
}
.card-three{
    background-color: #10B981;
    position: relative;
    width: 21vw;
    left: 140px;
    top: 70px;

}
.card-four{
    background-color: #DC2626;
    width: 21vw;
    position: relative;
    left: 180px; 
    top: 90px;
}
.right-part-two{
    padding-left: 1vw;
    width: 32vw;
    position: relative;
    right: 5vw;
}
.icon {
    padding-bottom: 2vw;
}
.icon i{
    font-size: 20px;

}
.right-part-two h2{
    font-family: "Open Sans", sans-serif;
    padding-bottom:15px ;
    font-size: 30px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #334155;

}
.right-part-two p{
    font-size: 16.8px;
    color: #334155;
    font-weight: 300;
    padding: 0 0vw 15.3px 0;
    font-family: "Open Sans", sans-serif;
}
.complex-doc{
    display: flex;
    align-items: center;
    gap: 5vw;
    padding-left: 100px;
}
.comp-left{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.comp-left h2{
    font-family: "Open Sans", sans-serif;
    color: #334155;
    font-size: 24.5px;
    opacity: .9;
    font-weight: 600;
}
.comp-left p{
    opacity: .8;
    font-size: 16.5px;
    font-weight: 400;
    color: #334155;
    line-height: 2vw;
    font-family: "Open Sans", sans-serif;
}
.point-part h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 2vw;
    color: #334155;
    opacity: .8;
    font-size: 16px;
    display: inline;
    padding: 0 .6vw;
}
.point-part i{
    background-color: #FFFFFF;
    padding: .3vw;
    border-radius: 50%;
}

.comp-right img{
    width:90%;
    
    transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
    border-radius: 10px;
    box-shadow:  0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);;
}
.login-page img{
    width: 30vw;
}
.exam-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15vw 2vw 0 2vw;
    /* border: 2px solid; */
}
.upper-part{
    text-align: center;
    padding-bottom: 15vw;
    width: 46vw;
}
.upper-part h2{
    font-size: 2.3vw;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 1vw;
}
.upper-part p{
    font-size: 1.1vw;
    font-family: "Open Sans", sans-serif;
    line-height: 1.9vw;
}
.down-part{
    display: flex;
    gap: 2vw;
    text-align: center;
    background-color: #465468;
    padding: 0 2vw;
}
.down-part h2{
    position: relative;
    color: #334155;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5vw;
    padding-bottom: 2vw;
    top: -8vw;
    font-weight: 500;
    opacity: .9;
}
.down-part img{
    border-radius: 10px;
    position: relative;
    top: -8vw;
    transition: all .2s;
}
.down-part img:hover{
    position: relative;
    top: -10vw;
}
.git-part{
    background-color: #465468;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15vw;
    padding-left: 8vw;
}
.git-left{
    width: 36vw;
    color: #FFFFFF;
    padding: 20vw 0;
}
.git-left i{
    color: #334155;
    padding: 1.3vw;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 2vw;
}
.git-left h2{
    padding-top: 2vw;
    font-size: 2vw;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 1vw;
}
.git-left p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    /* opacity: .5; */
    font-weight: 300;
    color: #939ca9;
}
.git-left span{
    color: #ffffff;
    font-weight: 400;
}
.git-left p:nth-child(4){
    padding-top: 1.2vw;
    padding-bottom: 1vw;
    /* border: 2px solid; */
}
.git-left button{
    font-size: 1.2vw;
    padding: .8vw;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #334155;
    border: none;
    transition: all .3s;
}
.git-left button:hover{
    box-shadow:  0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);;
    cursor: pointer;
}
.icon-part{
    overflow-x: hidden;
}
.icon-part i{
    font-size: 60vw;
    position: relative;
    right: -18vw;
    color: #334155;
}
.feedback-part{
    text-align: center;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    top: -1vw;
    padding: 5vw;
    z-index: 1;
}
.feedback-part h2:first-child{
    font-size: 3vw;
    padding-bottom: 1vw;
}
.feedback-part h2:nth-child(2){
    font-size: 2vw;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 2vw;
    font-weight: 500;
}
.feedback-part p{
    font-size: 1.2vw;
    color: #64748B;
    font-family: "Open Sans", sans-serif;
    padding: 0 11vw;
    line-height: 2vw;
    font-weight: 400;
}
.btn-part button{
    font-size: 1vw;
    padding: .7vw;
    margin: 0 .3vw;
    border-radius: 5px;
    border: none;
    color: #F1F5F9;
    margin-top: 2vw;
}
.btn-part button:first-child{
    font-family: "Open Sans", sans-serif;
    background-color: #EC4899;
}
.btn-part button:nth-child(2){
    font-family: "Open Sans", sans-serif;
    background-color: #465468;
}
.btn-part button:hover{
    box-shadow:  0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);;
    cursor: pointer;
}
.footer{
    background-color: #E2E8F0;
    position: relative;
    top: -6vw;
    display: flex;
    align-items: center;
    padding: 10vw 0 2vw 0;
    margin: 2vw 0;
    flex-direction: column;

}
.ftr-upper{
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 0 0 7vw 0;
    width: 100%;
}
.icons{
    padding: 2vw 0;
}
.icons i{
    font-size: 1.5vw;
    background-color: #FFFFFF;
    padding: .5vw;
    border-radius: 50%;
    margin: 0 .3vw;
}
.icons i:hover{
    cursor: pointer;
}
.icons i:first-child{
    color: #0EA5E9;
}
.icons i:nth-child(2){
    color: #0284C7;
}
.icons i:nth-child(3){
    color: #DB2777;
}
.section-one{
    padding-left: 2vw;
    width: 50%;
}
.section-one h2{
    font-size: 1.8vw;
    font-weight: 500;
    padding-bottom: 1vw;
    font-family: "Open Sans", sans-serif;
    color: #465468;
}
.section-one p{
    font-size: 1.1vw;
    font-family: "Open Sans", sans-serif;

}
.section-one p:nth-child(4){
    /* border: 2px solid; */
    font-size: .9vw;
}
.section-two{
    display: flex;
    flex-direction: column;
    gap: .7vw;
}
.section-two h2{
    color: #465468;
    font-size: 1.1vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
.section-two p{
    font-size: .9vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.section-last{
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    gap: .7vw;
}
.section-last h2{
    color: #465468;
    font-size: 1.1vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
.section-last p{
    font-size: .9vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.line{
    height: .01vw;
    background-color: #afb7c1;
    width: 98vw;
    margin-bottom: 2vw;
}
.ftr-down{
    text-align: center;
    color: #465468;
    font-weight: 500;
}
.menu {
    display: none;
}

@media (max-width:850px) {
    .menu {
        display: block;
    }
    nav{
        padding: 20px 10px;
    }
    .otr-link{
        display: none;
    }
    .menu i{
        font-size: 25px;
    }
    .page-one{
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .page-one img{
        width: 90vw;
    }
    .text-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        /* background-color: #78879c; */
    }
    .text-section h2{
        font-size: 38.4px;
        text-align: center;
    }
    .text-section p{
        font-size: 18.4px;
        line-height: 25px;
        text-align: center;
    }
    .btns{
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
    .btns button{
        font-size: 15.3px;
        padding: 1rem;
    }
    .inner-part{
        flex-direction: column;
        margin-top: 100px;
    }
    .left-side{
        width: 90vw;
        padding: 2rem;
    }
    .left-side >svg {
        margin-top: -95px;
        margin-bottom: -5px;
    }
    .text-part{
        padding: 25px;
    }
    .right-side{
        width: 80vw;
        padding: 25px 0;
    }
    .part-two{
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }
    .cards-part{
        margin-top: 15px;
        max-width: 90%;
        gap: 12px;
    }
    .right-part-two{
        width: 80%;
        margin-inline: auto;
    }
    .card{
        padding: 4px 5px;
    }
    .card-one, .card-two, .card-four,.card-three{
        width: 95%;
        position: static;
    }
    .complex-doc{
        flex-direction: column;
        gap: 30px;
        padding: 1px 30px;
    }
    .comp-left{
        max-width: 100%;
        gap: 20px;
    }
    .comp-left p{
        line-height: normal;
    }
    .point-part i{
        padding: 5px;
        font-size: 12px;
    }
    .point-part h3{
        line-height: normal;
        padding: 0 3px;
    }
    .upper-part {
        text-align: center;
        padding-bottom: 15vw;
        width: 78vw;
    }
    .upper-part h2{
        font-size: 25px;
    }
    .upper-part p{
        font-size: 19px;
        line-height: normal;
    }
    .down-part{
        flex-direction: column;
        background-color: #afb7c1;
    }
    .down-part h2{
        font-size: 22px;
    }
    .login-page img{
        width: 90%;
    }
    .git-part {
        gap: 0px;
    }
    .git-left {
        width: 100%;
    }
    .git-left i{
        font-size: 20px;
    }
    .git-left h2{
        font-size: 24px;
    }
    .git-left p{
        font-size: 16px;
    }
    .git-left button{
        font-size: 16px;
        padding: 15px;
    }
    .feedback-part h2:first-child{
        font-size: 51px;
    }
    .feedback-part h2:nth-child(2){
        font-size: 21px;
    }
    .feedback-part p{
        font-size: 21px;
        line-height: normal;
    }
    .btn-part button{
        font-size: 15.8px;
        padding: 10px;
    }
    .section-one h2{
        font-size: 18px;
    }
    .section-one p{
        font-size: 10px;
    }
    .icons i{
        font-size: 21px;
    }
    .section-one p:nth-child(4){
        font-size: 10px;
    }
    .section-two h2, .section-last h2{
        font-size: 13px;
    }
    .section-two p, .section-last p{
        font-size: 12px;
    }
    .section-last{
        padding-left: 0px;
    }
}
@media (max-width:1050px) {
    .part-one{
        flex-direction: column;
    }
    .left-part{
        width: 80vw;
    }
    .right-part{
        width: 80vw;
    }
    .right-part img:nth-child(5){
        max-width: 776px;
        
    }
    .right-part img:nth-child(4){
        max-width: 150px;
        border-radius: 10px;
        position: relative;
        top: -108px;
    }
    .right-part img:nth-child(3){
        max-width: 106px;
        position: relative;
        bottom: 179px;
        left: 40px;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
        border-radius: 10px;
    }
    .right-part img:nth-child(2){
        left: 161px;
        max-width: 130px;
        bottom: -10px;
    }
    .right-part img:nth-child(6){
        left: 130px;
        max-width: 80px;
    }
    .right-part img:first-child{
        max-width: 98px;
        position: relative;
        bottom: -140px;
        left: 80px;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);;
        border-radius: 8px;
        z-index: 1;
    }
}